button:focus {
  outline: none;
}
button:hover {
  background-color: "var(--background)";
}
.my-component {
  background: "var(--background)";
}

.fullscreen-enabled .my-component {
  background: "var(--background)";
}
.fullscreen-enabled > div {
  height: 100vh;
  overflow-y: scroll;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-23 {
  font-size: 20px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-36 {
  font-size: 36px;
}

.material:hover {
  background-color: "var(--background)";
  border-radius: 50%;
  color: "var(--text)";
}
